body {
  background-color: black;
}
button {
  border: none;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(51, 51, 51);
  font-size: 18px;
}
.Output {
  color: white;
  font-size: 25px;
}
.orange {
  background-color: orange;
}
